[submodule "scss-pack/lib/scss-mode"]
	path = scss-pack/lib/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "scss-pack/lib/rainbow-mode"]
	path = scss-pack/lib/rainbow-mode
	url = https://github.com/emacsmirror/rainbow-mode.git
[submodule "python-pack/lib/python-mode"]
	path = python-pack/lib/python-mode
	url = https://github.com/emacsmirror/python-mode.git
[submodule "flycheck-pack/lib/flycheck"]
	path = flycheck-pack/lib/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "flycheck-pack/lib/s"]
	path = flycheck-pack/lib/s
	url = https://github.com/magnars/s.el.git
[submodule "flycheck-pack/lib/dash"]
	path = flycheck-pack/lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "flycheck-pack/lib/f"]
	path = flycheck-pack/lib/f
	url = https://github.com/rejeep/f.el.git
[submodule "colour-pack/lib/solarized-theme"]
	path = colour-pack/lib/solarized-theme
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "prosjekt-pack/lib/prosjekt"]
	path = prosjekt-pack/lib/prosjekt
	url = https://github.com/abingham/prosjekt.git
